@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Bruno+Ace+SC&family=Baloo+2&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.font-roboto-extraLight {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.font-brunoAce {
  font-family: 'Bruno Ace SC', sans-serif;
}

.font-baloo {
  font-family: 'Baloo 2', sans-serif;
}
